{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block meta %}

{% endblock meta %}

{% block title %}Home{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock css %}

{% block content %}
<section>
    <div class="bg-light round-lg p-3">
        <h1 class="display-4">Cheshire West Vehicles</h1>
        <p class="lead">** A leading line here ** / this background can be an image</p>
        <hr class="my-4">
        <p>something else here also</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'vehicles' %}" role="button">Buy your next vehicle today.</a>
        </p>
    </div>

    <!--Services-->
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Services</h2>
        </div>
        <div class="col-md-4 col-12 pt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">1 Title</h5>
                    <p class="card-text">1 Detail</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 pt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">2 Title</h5>
                    <p class="card-text">2 Detail</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 pt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">3 Title</h5>
                    <p class="card-text">3 Detail</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 pt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">4 Title</h5>
                    <p class="card-text">4 Detail</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 pt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">5 Title</h5>
                    <p class="card-text">5 Detail</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 pt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">6 Title</h5>
                    <p class="card-text">6 Detail</p>
                </div>
            </div>
        </div>
        <p>*Can add more if you need them.</p>
    </div>
</section>
{% endblock content %}

{% block js %}

{% endblock js %}