{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block meta %}

{% endblock meta %}

{% block title %}Contact Us{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'css/contact.css' %}">{% endblock css %}

{% block content %}
<div class="text-center">
    <h1>Contact Us</h1>
    <p class="muted">Contact Us for queries and repair quotes.</p>
</div>

<section class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-md-8 col-12">
                <p class="font-custom">Contact us for recovery, quotes and servicing. 
                    If you are unsure to our services checkout our <a href="" class="font-custom">Services Page</a>. </p>
                <p class="text-custom">All correspondence is aimed to be answered within 48 hours.</p>
            </div>
            <div class="col-md-4 col-12 font-custom">
                <h4 class="font-custom">Business Address</h4>
                Clive Green Lane <br>
                Middlewich <br>
                Cheshire <br>
                CW10 0NA
            </div>
        </div>
    </div>
    <div class="col-12 my-5">
        <h3 class="text-center">Contact Form</h3>
        <form action="{% url 'contact' %}" method="POST" class="offset-md-3 col-md-6 col-12">
            {% csrf_token %}
            {{form|as_bootstrap}}
            <div class="text-center">
                <button type="submit" class="btn btn-info">Send</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}

{% block js %}

{% endblock js %}